{% extends "layouts/base.html" %}

{% block title %} Customer Services Intro {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
        <div class="btn-toolbar dropdown">
            <button class="btn btn-dark btn-sm me-2 dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="fas fa-plus me-2"></span>New Task
            </button>
            <div class="dropdown-menu dashboard-dropdown dropdown-menu-start mt-2 py-0">
                <a class="dropdown-item fw-normal rounded-top" href="#"><span class="fas fa-tasks"></span>New Task</a>
                <a class="dropdown-item fw-normal" href="#"><span class="fas fa-cloud-upload-alt"></span>Upload Files</a>
                <a class="dropdown-item fw-normal" href="#"><span class="fas fa-user-shield"></span>Preview Security</a>
                <div role="separator" class="dropdown-divider my-0"></div>
                <a class="dropdown-item fw-normal rounded-bottom" href="#"><span class="fas fa-rocket text-danger"></span>Upgrade to Pro</a>
            </div>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-primary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-primary">Export</button>
        </div>
    </div>-->
    <div class="row justify-content-md-center">
        <!-- <div class="col-12 mb-4">
            <div class="card bg-secondary-alt shadow-sm">
                <div class="card-header d-sm-flex flex-row align-items-center flex-0">
                    <div class="d-block mb-3 mb-sm-0">
                        <div class="h5 fw-normal mb-2">Acquisition</div>
                        <h2 class="h3">$10,567</h2>
                        <div class="small mt-2"> 
                            <span class="fw-bold me-2">Yesterday</span>                              
                            <span class="fas fa-angle-up text-success"></span>                                   
                            <span class="text-success fw-bold">10.57%</span>
                        </div>
                    </div>
                    <div class="d-flex ms-auto">
                        <a href="#" class="btn btn-secondary text-dark btn-sm me-2">Month</a>
                        <a href="#" class="btn btn-dark btn-sm me-3">Week</a>
                    </div>
                </div>
                <div class="card-body p-2">
                    <div class="ct-chart-sales-value ct-double-octave ct-series-g"></div>
                </div>
            </div>
        </div> -->
            <div class="col-12 px-0 mb-4">
                <div class="card border-light shadow-sm">
                    <div class="card-body">
                        <div>
                            <h1>Customer Services</h1>
                        </div>
                            <article>
                                <p>Your organisation has invested to ensure Customer Service is provided. To lose a customer is costly and the need to 'win back' a customer is expensive.</p>
                                <p>The TM ViSight Reports structured in this section are specially designed for Customer Service and Call Centre Managers in order to help in day to day operations and process within your call centre environment. The information will help you manage staffing resources based on caller demand, plan for staff coverage during peak and off-peak periods, and monitor unusual calling behaviours.</p>
                                <h3>Top Views</h3>
                                <p>The TM ViSight Top View Report identifies the most frequent callers, longest call duration and most expensive calls. You may select a specific period by selecting the date range. The report will assist you in monitoring the call activities and ensure staff are spending time servicing calls coming into the call centre and KPI's are achieved. (Example: Why is this customer calling us so often? Is it necessary for these calls to be taking so long? Is additional staff training required?).</p>
                                <h3>Answerpoint Summary</h3>
                                <p>To ensure customer expectations are meet, TM TollFree subscribers are using the network features transferring calls to another answerpoint on busy, no answer, by region, or by percentage. This TM ViSight Report provides you a complete view of the number of calls being transferred according to the features subscribed.</p>
                                <p>If a TollFree number is being answered in more than one location, the answering location (Answerpoint) will be listed in this report with the complete and incomplete call information. The report enables you to manage resources in multiple locations and monitor each location performance by comparing average call duration and call volumes. .</p>
                                <h3>Missed Calls</h3>
                                <p>The Missed Calls Report shows the number of customers/prospects unable to reach your organisation. This information will assist you in identify the cause and allow you to take immediate action. Utilising this Management Tool will reduce the missed calls and result in better performance in your call centre, will enhance your customer service levels and ensure a sales opportunity is never lost.</p>
                            </article>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
